<md-card layout="row" class="matchTag" ng-hide="listView">
  <div layout="column" style="width: 300px;">
    <div>
      <h3>Naam</h3>
    </div>
    <div layout="row" layout-align="start center">
        <span><img ng-src="{{(match.playerA.imagepath) ? match.playerA.imagepath : 'assets/images/noImageIcon.jpg'}}"
                   style="border-radius: 25px; display: inline;height: 50px;width: 50px"/></span>
      <span style="margin-left: 5px;">{{match.playerA.firstname + " " + match.playerA.lastname }}</span>
    </div>
    <div layout="row" layout-align="start center">
        <span><img ng-src="{{(match.playerB.imagepath) ? match.playerB.imagepath : 'assets/images/noImageIcon.jpg'}}"
                   style="border-radius: 25px; display: inline;height: 50px;width: 50px"/></span>
      <span style="margin-left: 5px;">{{match.playerB.firstname + " " + match.playerB.lastname }}</span>

    </div>
  </div>

  <div layout="column" >
    <div>
      <h3>Vg</h3>
    </div>
    <div style="padding: 5px; border-radius: 25px; border: solid 1px; margin-left: 10px; width: 40px; background: rgba(121, 121, 121, 0.8)">
      <div layout="row" layout-align="start center" style="height:50px;">
        <p >{{match.isHandicapForB ? '' : '+'+match.handicap}}</p>
      </div>

      <div layout="row" layout-align="start center" style="height:50px;">
        <p>{{match.isHandicapForB ? '+'+match.handicap : ' '}}</p>
      </div>
    </div>
  </div>

  <div layout="column" >
    <div>
      <h3>Sets</h3>
    </div>
    <div layout="row">
      <div ng-repeat="game in match.games track by $index" style="padding: 5px; border-radius: 25px; border: solid 1px; margin-left: 10px; width: 40px; background: rgba(121, 121, 121, 0.8)">
        <div layout="row" layout-align="start center" style="height:50px;">
          <md-input-container style="padding-top:20px;">
          <input class="pointLabel" keep-focus ng-model="game.pointA" ng-blur="updateFn({seriesRoundId: seriesRoundId, match: match})" aria-label="pointInputA" type="number"/>
          </md-input-container>
        </div>

        <div layout="row" layout-align="start center" style="height:50px;">
          <md-input-container>
          <input class="pointLabel" keep-focus ng-model="game.pointB" ng-blur="updateFn({seriesRoundId: seriesRoundId, match: match})" aria-label="pointInputB" type="number"/>
          </md-input-container>
        </div>
      </div>
    </div>
  </div>

  <div layout="column">
    <div>
      <h3>Uitslag</h3>
    </div>

    <div style="padding: 5px; border-radius: 25px; border: solid 1px; margin-left: 10px; width: 40px; background: rgba(28, 121, 120, 0.8)">
      <div layout="row" layout-align="start center" style="height:50px;">
        <p class="pointLabel">{{match.wonSetsA}}</p>
      </div>

      <div layout="row" layout-align="start center">
        <p class="pointLabel">{{match.wonSetsB}}</p>
      </div>
    </div>

  </div>

</md-card>

<div style="margin:0;" class="matchTag" layout="row" ng-show="listView">
  <div flex="20" style="padding:5px">
  <span >{{match.playerA.firstname +' ' + match.playerA.lastname}}</span> VS <span>{{match.playerB.firstname +' ' + match.playerB.lastname}}</span>
  </div>
<div flex style="padding:5px">
  <span ng-repeat="game in match.games">
    <input class="pointLabel" style="width: 40px" keep-focus ng-model="game.pointA" ng-blur="updateFn({seriesRoundId: seriesRoundId, match: match})" type="number"/>
  /
   <input class="pointLabel" style="width: 40px" keep-focus ng-model="game.pointB" ng-blur="updateFn({seriesRoundId: seriesRoundId, match: match})" type="number"/>

  </span>
</div>

  <div>
    <p style="padding: 5px; border-radius: 25px; border: solid 1px; margin-left: 10px; width: 40px; background: rgba(28, 121, 120, 0.8)" class="pointLabel">{{match.wonSetsA +' - '+ match.wonSetsB}}</p>
  </div>
</div>
