<div class="md-padding">
  <!-- todo make a popup-->
  <h2 ng-if="ctrl.error">{{ctrl.error}}</h2>

  <div style="background: #009688">
  <h1>{{ctrl.tournament.tournamentName}}</h1>

  <div layout="row">
    <div layout="column" flex="50">
      <h2>Reeksen</h2>

      <md-select ng-model="ctrl.selectedSeries" aria-label="selectedTournamentSeries" flex="50">
        <md-option ng-repeat="series in ctrl.seriesList" ng-value="series">{{series.seriesName}}</md-option>
      </md-select>
    </div>

    <div layout="column" flex="50" ng-if="ctrl.selectedSeries">
      <h2>Rondes</h2>

      <md-select ng-model="ctrl.selectedRound" aria-label="selectedSeriesRound" flex="50">
        <md-option ng-repeat="round in ctrl.activeSeriesRoundList" ng-value="round">{{ctrl.showRoundOption(round)}}</md-option>
      </md-select>
    </div>
  </div>
  </div>

 <editable-bracket-node node="ctrl.selectedRound.bracketRounds"
                        updatematch="ctrl.updateRound(roundId, match)"
                        series-round-id="ctrl.selectedRound.id"
                        ng-show="ctrl.activeBracketRound()"></editable-bracket-node>

  <editable-robin-round ng-repeat="robingroup in ctrl.selectedRound.robinRounds" robinround="robingroup"  update-fn="ctrl.updateRoundMatch" series-round-id="ctrl.selectedRound.id" ng-show="ctrl.activeRobinRound()"></editable-robin-round>

</div>