<div style="padding: 0">
  <h2 ng-if="ctrl.error">{{ctrl.error}}</h2>

  <md-toolbar style="background: #009688" class="md-padding">
  <h1 style="padding-bottom: 0; margin-bottom: 0">{{ctrl.tournament.tournamentName}}</h1>

  <div layout="row" style="margin:0">
    <div layout="column" flex="50">
      <h2 style="margin-bottom: 0">Reeksen</h2>

      <md-select ng-model="ctrl.selectedSeries" aria-label="selectedTournamentSeries" flex="50">
        <md-option ng-repeat="series in ctrl.seriesList" ng-value="series">{{series.seriesName}}</md-option>
      </md-select>
    </div>
  </div>
  </md-toolbar>

  <div layout="row" ng-style="ctrl.roundSpecificPadding()" ng-hide="ctrl.showFinalRanking()">

    <editable-bracket-node node="ctrl.selectedRound.bracketRounds"
                          updatematch="ctrl.updateRound(roundId, match)"
                          series-round-id="ctrl.selectedRound.id"
                          ng-show="ctrl.activeBracketRound()"></editable-bracket-node>

    <editable-robin-round flex="90" ng-repeat="robingroup in ctrl.selectedRound.robinRounds" robinround="robingroup"  update-fn="ctrl.updateRound(seriesRoundId,match)" series-round-id="ctrl.selectedRound.id" ng-show="ctrl.activeRobinRound()"></editable-robin-round>
  </div>

  <final-ranking final-ranking="ctrl.finalRanking" ng-show="ctrl.showFinalRanking()"></final-ranking>


  <md-button class="md-raised md-accent" id="previousRound" ng-show="ctrl.hasPreviousRound()" ng-click="ctrl.gotoPreviousRound()">Vorige ronde</md-button>
  <md-button class="md-raised md-accent" id="nextRound" ng-hide="ctrl.lastRound" ng-click="ctrl.gotoNextRound()">Volgende ronde</md-button>
  <md-button class="md-raised md-accent" id="finalRound" ng-show="ctrl.lastRound && ctrl.finalRanking.length < 1" ng-click="ctrl.gotoNextRound()">Laatste Ronde</md-button>
</div>