<div class="pingpongTable">

  <div class="tableNr">1</div>
  <md-button class="md-fab" ng-click="table.hidden = !table.hidden"><i class="fa fa-eye"></i></md-button>
  <md-button class="md-fab" ng-click="table.horizontal = !table.horizontal"><i class="fa fa-refresh"></i></md-button>

  <div>
    <!-- vertical-->
    <div class="table" ng-hide="table.hidden || table.horizontal">

        <div class="playerBox playerBox-top"></div>
        <div class="net"></div>
      <div class="playerBox playerBox-bottom"></div>

    </div>

    <!-- horizontal-->
    <div class="horizontal-table" ng-hide="table.hidden || !table.horizontal" layout="row">

      <div class="playerBox-horizontal playerBox-left"></div>
      <div class="horizonal-net"></div>
      <div class="playerBox-horizontal playerBox-right"></div>

    </div>

  </div>

</div>