body{
    background: url("../images/background.jpg");
}

.title{
    color: #25d8ff;
}

.left-panel{
    height: 100%;
    background: rgba(80, 80, 80, .5);
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    overflow: auto;
}

.navList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.navElement{
    font-weight: bold;
}

.viewField{
    margin-left: 220px;
    overflow: auto;
    max-height: 80vh;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.playerTable{
   text-align: center;
}


.pointLabel{
    text-align: center;
}

.matchTag{
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: center;
    background: #2f8cc1;
}