body{
    background: url("../images/background.jpg");
}

.title{
    color: #25d8ff;
}

.left-panel{
    height: 100%;
    background: rgba(80, 80, 80, .5);
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    overflow: auto;
}

.navList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.navElement{
    font-weight: bold;
}

.viewField{
    overflow: auto;
    max-height: 99vh;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.playerTable{
   text-align: center;
}


.pointLabel{
    text-align: center;
}

.matchTag{
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: center;
    background: #2f8cc1;
}

.left-pad {
    padding-left: 10px;
}

.printMatch table{
    background: white;
}

.printMatch{
    font-weight: bold;
    font-size: 10px;
    color: black;
    border-collapse: collapse;
}

.printMatch td, .printMatch tr, .printMatch table{
    border-collapse: collapse;
    border: 2px solid  #a3a3a3;
}

.printMatch td {
    text-align: center;
    height: 15px;
}

.playerCell{
    height: 15px;
    width: 150px;
}

.gameCell{
    height: 15px;
    width: 40px;
}

.horizontalLine{
    height: 3px;
    width: 100%;
    border-bottom: 2px solid #9b9b9b;
}

#nextRound, #finalRound{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#previousRound{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.finalRanking li{
    list-style-type: none;
    margin: 10px;
}

.first{
    background: gold;
    padding: 20px 20px 20px 10px;
}

.second{
    background: silver;
    padding: 10px;
}

.third{
    background: darkorange;
    padding: 5px 5px 5px 10px;
}

.ranking-elem{
    padding-left: 10px;
}

.finalRanking li{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.pingpongTable{
    background: grey;
    width: 400px;
    height: 550px;
    padding: 5px;
    display: inline-block;
}

.tableContainer{
    height: 500px;
    width: 340px;
}

.net{
    height: 10px;
    background: white;
    width: 100%
}

.playerBox{
    height: 245px;
    width: 290px;
    margin-left: 20px;
    margin-right: 20px;
    background: darkgreen;
    border-left: solid white 5px;
    border-right: solid white 5px;
}

.playerBoxBlue{
    height: 245px;
    width: 290px;
    margin-left: 20px;
    margin-right: 20px;
    background: darkblue;
    border-left: solid white 5px;
    border-right: solid white 5px;
}

.playerBox-top{
    border-top: solid white 5px;
}

.playerBox-bottom{
    border-bottom: solid white 5px;
}

.playerBox-left{
    border-left: solid white 5px;
}

.playerBox-right{
    border-right: solid white 5px;
}


.tableRow{
    background: gray;
    margin-bottom:60px;
}

.tableNr{
    height: 25px;
    width: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background: darkred;
    padding: 10px;
}

.horizontal-table{
    width: 500px;
    height: 340px;
}

.horizonal-net{
    width: 10px;
    background: white;
    float: left;
    height: 100%
}

.playerBoxHorizontal{
    float: left;
    width: 240px;
    height: 290px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    background: darkgreen;
    border-top: solid white 5px;
    border-bottom: solid white 5px;
}

.playerBoxHorizontalBlue{
    float: left;
    width: 240px;
    height: 290px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    background: darkblue;
    border-top: solid white 5px;
    border-bottom: solid white 5px;
}

.matchesPresent{
    min-width: 500px;
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
}

.flex-2 {
    /* This will be twice as big as the small item. */
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}
.flex-1 {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}

.result-table{
    font-weight: bold;
    color: white;
    text-align: center;
    border-collapse: collapse;
    padding: 2px;
}

.result-line:nth-child(even), .result-head {
    background-color: rgba(157, 152, 156, 0.34);
}