<md-toolbar class="md-padding">
  <h2>Zaalconfiguratie</h2>
</md-toolbar>
<div class="md-padding">
  <md-card>
    <ul>
    <li ng-repeat="hall in ctrl.halls">
      <span flex="50">{{hall.hallName}}</span>
      <span flex>{{' ' + hall.rows + ' x ' + hall.tablesPerRow}}</span>
      <md-button class="md-button md-raised md-accent" ng-click="ctrl.showHall(hall.id)">
        Toon zaal
      </md-button>
      <md-button class="md-button md-raised md-accent" ng-click="ctrl.chooseHallForLayout(hall.id)">
        bepaal layout
      </md-button>

      <md-button class="md-button md-raised md-accent" ng-click="ctrl.deleteLayout(hall.id)"><i class="fa fa-trash"></i></md-button>
    </li>
    </ul>

    <div layout="row" layout-align="start center">
    <md-input-container>
      <label>Zaalnaam</label>
      <input ng-model="ctrl.hallName">
    </md-input-container>

    <md-input-container>
      <label>Aantal rijen tafels</label>
      <input type="number" ng-model="ctrl.numberOfTableRows">
    </md-input-container>
    <md-input-container>
      <label>Aantal tafels per rij</label>
      <input type="number" ng-model="ctrl.numberOfTables">
    </md-input-container>

      <div style="color: white">
      <label>Tafelkleur</label>
      <md-radio-group ng-model="ctrl.isGreen">
        <md-radio-button value="green" ng-checked="true">Groen</md-radio-button>
        <md-radio-button value="blue" >Blauw</md-radio-button>
      </md-radio-group>
      </div>
    </div>
    <md-button class="md-button md-raised md-primary" ng-click="ctrl.createHall()">Opslaan</md-button>
  </md-card>
</div>