<div style="color:white">
    <h1>{{drawCtrl.tournament.tournamentName}}</h1>

    <div ng-repeat="series in drawCtrl.tournament.series track by $index">

        <h2 style="color:white">{{series.seriesName}}</h2>

        <div ng-repeat="round in series.rounds">

            <div class="robins" ng-repeat="robin in round.robins">
            <table>
                <tr ng-repeat="player in robin.robinPlayers">
                    <td>{{player.firstname}}</td>
                    <td>{{player.lastname}}</td>
                    <td>{{player.rank.name}}</td>
                </tr>
            </table>
            </div>
        </div>

        <h3 style="color:white">{{drawCtrl.errors[$index]}}</h3>
    </div>

</div>