<div style="padding: 10px; padding-top: 30px" layout="row" layout-align="center center">
<md-grid-list md-cols="6" md-gutter="1em" md-row-height="4:3" flex-xs="80" flex-gt-xs="50">

  <md-grid-tile style="background-color: rgba(0, 255, 187, 0.7); cursor: pointer" md-colspan="6" md-rowspan="1" ng-click="ctrl.gotoTournamentWizard()">
    <h1>Maak tornooi</h1>

  </md-grid-tile>

  <md-grid-tile style="background-color: rgba(255, 243, 52, 0.7); cursor: pointer" md-colspan="6" md-rowspan="1" ng-click="ctrl.gotoPlayTournament()">
    <h1>Speel tornooi</h1>

  </md-grid-tile>

  <md-grid-tile style="background-color: rgba(255, 59, 32, 0.7); cursor: pointer" md-colspan="6" md-rowspan="1" ng-click="ctrl.gotoTournamentList()">
    <h1>Laad tornooiconfiguratie</h1>

  </md-grid-tile>

  <md-grid-tile style="background-color: rgba(161, 84, 255, 0.7); cursor: pointer" md-colspan="6" md-rowspan="1" ng-click="ctrl.gotoPlayerManagement()">
    <h1>Beheer spelers</h1>

  </md-grid-tile>


</md-grid-list>
</div>