<md-card class="md-whiteframe-z2 md-padding" layout="row">
    <h2 style="color:gray">{{ctrl.round.roundNr}}</h2>
    <div class="column"flex="50">



        <md-input-container style="color:#666666">
            <md-select ng-model="round.roundType" layout-padding aria-label="choose roundtype" ng-change="ctrl.updateRound(round)"
                       placeholder="rondetype">
                <md-option ng-repeat="roundType in ctrl.roundTypes" ng-value=roundType>
                    {{roundType.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex></div>
    <div class="column" style="width: 40px;">
        <md-button class="md-fab" aria-label="move-up" ng-show="showMoveUp()" ng-click="ctrl.moveSeriesRoundUp(round)">
            <md-icon md-font-icon="fa fa-chevron-up"></md-icon>
        </md-button>
        <md-button class="md-fab" aria-label="move-down" ng-show="showMoveDown()" ng-click="ctrl.moveSeriesRoundDown(round)">
            <md-icon md-font-icon="fa fa-chevron-down"></md-icon>
        </md-button>
    </div>

    <!--        <md-input-container style="color:#666666" layout="column" flex ng-show="round.roundType == 'R'" placeholder="Kies het aantal poules">
            <md-select ng-model="round.numberOfRobinRounds" layout-padding aria-label="choose number of robinrounds"  ng-change="updateRound()">

                <md-option ng-repeat="numberOfRobins in numberOfRobinsList" value="{{numberOfRobins}}">
                    {{numberOfRobins + " poules"}}
                </md-option>
            </md-select>
            </md-input-container>

            <md-input-container style="color:#666666" layout="column" flex  ng-show="round.roundType == 'B'">
            <md-select ng-model="round.numberOfBracketRounds" layout-padding aria-label="choose number of bracketrounds" placeholder="Kies een startronde"  ng-change="updateRound()">
                <md-option ng-repeat="bracketRound in bracketRounds" value="{{bracketRound.value}}">
                    {{bracketRound.name}}
                </md-option>
            </md-select>
            </md-input-container>

            -->
</md-card>