<md-card class="md-whiteframe-z2 md-padding" layout="row">
    <div hidden >{{ctrl.selectedRound = round}}</div>
    <h2 style="color:gray">{{ctrl.selectedRound.roundNr}}</h2>
    <div class="column"flex="50">



        <md-input-container style="color:#666666">
            <md-select layout-padding aria-label="choose roundtype" ng-change="ctrl.updateRound()"
                       placeholder="rondetype"
                       ng-model="ctrl.selectedRound.roundType.type" md-selected-text="ctrl.selectedRound.roundType.name">
                <md-option ng-repeat="roundType in ctrl.roundTypes" value="{{roundType.type}}" ng-click="ctrl.selectType(roundType.type)">
                    {{roundType.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>


    <md-input-container style="color:#666666" layout="column" flex ng-show="ctrl.selectedRound.roundType.type == 'R'" placeholder="aantal poules">
    <md-select ng-model="ctrl.selectedRound.numberOfRobinGroups" layout-padding aria-label="choose number of robinrounds"  ng-change="ctrl.updateRound()">

        <md-option ng-repeat="numberOfRobins in ctrl.numberOfRobinsList" value="{{numberOfRobins}}">
            {{numberOfRobins + " poules"}}
        </md-option>
    </md-select>
    </md-input-container>

    <md-input-container style="color:#666666" layout="column" flex  ng-show="ctrl.selectedRound.roundType.type == 'B'">
    <md-select ng-model="ctrl.selectedNumberOfBracketRounds" layout-padding aria-label="choose number of bracketrounds" placeholder="startronde"  ng-change="ctrl.updateRound()">
        <md-option ng-repeat="bracketRound in ctrl.bracketRounds" ng-value="bracketRound">
            {{bracketRound.name}}
        </md-option>
    </md-select>
    </md-input-container>

    <div flex></div>
   <!-- <div class="column" style="width: 40px;">
        <md-button class="md-fab" aria-label="move-up" ng-show="ctrl.showMoveUp()" ng-click="ctrl.moveSeriesRoundUp(round)">
            <md-icon md-font-icon="fa fa-chevron-up"></md-icon>
        </md-button>
        <md-button class="md-fab" aria-label="move-down" ng-show="ctrl.showMoveDown()" ng-click="ctrl.moveSeriesRoundDown(round)">
            <md-icon md-font-icon="fa fa-chevron-down"></md-icon>
        </md-button>
    </div>-->

</md-card>