<!DOCTYPE html>
<html lang="en" ng-app="tournamentManager">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
    <title>Whif-Wut</title>
    <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/font-awesome/css/font-awesome.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/angular-material/angular-material.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/ng-img-crop/compile/minified/ng-img-crop.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body >
            <div style="padding:20px;">
                <h1 class="title">Whif-What</h1>

            <div class="left-panel" ng-controller="TitleScreenController as titleScreenCtrl" ng-show="titleScreenCtrl.hasUser()">
                <ul class="navList">
                    <li class="navListItem" ><md-button class="navElement md-raised md-primary" ng-click="titleScreenCtrl.gotoTournamentWizard()">Maak tornooi</md-button></li>
                    <li class="navListItem"><md-button class="navElement md-raised md-primary" ng-click="titleScreenCtrl.gotoTournamentList()">Laad tornooi</md-button></li>
                    <li class="navListItem"><md-button class="navElement md-raised md-primary" ng-click="titleScreenCtrl.gotoPlayerManagement()">Beheer spelers</md-button></li>
                </ul>

                <section class="user">

                    <i class="fa fa-user"></i>
                    <div>
                        <md-button ng-click="titleScreenCtrl.logout()">{{titleScreenCtrl.currentUser.username}} Afmelden</md-button>
                    </div>
                </section>
            </div>


            </div>

        <div ng-view class="viewField"></div>

        <script src="@routes.Assets.versioned("bower_components/angular/angular.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-route/angular-route.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-jwt/dist/angular-jwt.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-cookies/angular-cookies.min.js")"></script>

        <script src="@routes.Assets.versioned("bower_components/angular-aria/angular-aria.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-animate/angular-animate.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-material/angular-material.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/ng-file-upload/ng-file-upload.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/ng-img-crop/compile/minified/ng-img-crop.js")"></script>

        <script src="@routes.Assets.versioned("javascripts/tournamentManager.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/routes.js")"></script>


        <script src="@routes.Assets.versioned("javascripts/controllers/LoginController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/CreateTournamentController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/DrawController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/SeriesSetupController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/SeriesRoundSetupController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/RoundElementController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/CreateSeriesController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/PlayerSubscriptionController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/TitleScreenController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/TournamentListController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/PlayerController.js")"></script>


        <script src="@routes.Assets.versioned("javascripts/services/LoginRegisterService.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/services/authService.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/services/alertService.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/services/PlayerService.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/services/DrawService.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/services/TournamentService.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/services/SeriesService.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/services/SeriesRoundService.js")"></script>

    </body>
</html>
